body {
     text-align: center;
 }

.image {
   position: relative;
   width: 100%;
}

h1 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;

}
