body {
     text-align: center;
 }

.image {
   position: relative;
   width: 100%;
}

h1 {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
}

h4 {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  font-family: helvetica;
  font-size: 18px;
  color: white;
}

h5 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 23px;
  color: white;
  }

a {
    color: white;
}

p {
  font-family: helvetica;
  font-size: 14px;
}
